body{

	background-image: url("IMG/madera-01.jpg");
	background-position: center center;/*centrar el fondo*/
	background-repeat: no-repeat;/*que el fondo no se repita*/
	background-size: 100% 100%; /*fondo se acomode de acuerdo el tamaño de la pantalla*/
	background-attachment: fixed;/*para que el fondo quede fijo*/
}

/* medidas del mapa*/
#map {
	width: 100%;
	height: 500px;
}

#map iframe{
	width: 80%;
	height: 100%;
}

/*informacion contact*/
h2{
		font-size: 20px;
    text-align: center;
}

h2 .titulo {
  border: 4px dashed green;/*borde a trozos*/
  padding: 10px;
	font-size:20px;
}

/*ESTILO AL ENVIAR UN MENSAJE*/

form{
    width: 550px;/*ancho enviar mensaje*/
    margin: auto;
    background: rgba(0,0,0,0.2);/*sombra de transparencia*/
    padding: 10px 20px;
    /*box-sizing: border-box;*/
    border-radius: 20px;
}

.cuadro{
  background-color: #fff;
  padding: 15px;
  width: 600px;
  margin-bottom: 10px;
  border-radius: 10px;
  margin: auto;
}

.enviar{
    background-color: green;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.enviar:hover {
    background-color: #15C823;
}

textarea {
		background-color: white;
    height: 100px;
    min-height: 100px;
    max-width: 100%;
    max-height: 200px;
}

input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 90%;
    outline: none;
    box-sizing: border-box;
    border: none;
}

/*RESPONSIVE FORM*/

@media screen and (max-width:800px){
    .section{
        width: 100%;
    }

}
