*{ /* el menu se situa desde el pixel 0 0*/
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(IMG/madera-01.jpg);
}

#box1{
  height:65%;
  width: 100%;
  background-image: url(IMG/nosotros/1.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

#des{
  height: 35%;
  width: 100%;
  background-color: white;
  background-attachment: fixed;
  border-left: 9px solid #8BC53E;
  border-right: 9px solid #8BC53E;
}

.icono{
  text-align: center;
  color: #8BC53E;
  font-size: 30px;
}

#box3{
  height: 70%;
  width: 100%;
  background-image: url(IMG/nosotros/2.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

#mision{
  height: 30%;
  width: 100%;
  background-color: white;
  background-attachment: fixed;
  border-left: 9px solid #8BC53E;
  border-right: 9px solid #8BC53E;
}

#box4{
  height: 70%;
  width: 100%;
  background-image: url(IMG/nosotros/3.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

#vision{
  height: 30%;
  width: 100%;
  background-color: white;
  background-attachment: fixed;
  border-left: 9px solid #8BC53E;
  border-right: 9px solid #8BC53E;
}

#box5{
  height: 70%;
  width: 100%;
  background-image: url(IMG/nosotros/4.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.titulo1{
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 50px;
  color: #8BC53E;
  vertical-align: middle;
}

.parrafo{
  text-align: center;
  font-family: 'Lora', serif;
  margin-left: 10px;
  margin-right: 20px;
  text-align: center;
  font-size: 20px;
  color: #2b0707;
  vertical-align: middle;
}

.parrafo1{
  text-align: center;
  font-family: 'Lora', serif;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
  font-size: 15px;
  color: #2b0707;
}

@media screen and (max-width:904px){

  .icono{
    display: none;
  }
}

@media screen and (max-width:904px){

  #des{
    height: 35%;
  }
  #mision{
    height: 35%;
  }
  #vision{
    height: 35%;
  }
  .icono{
    display: none;
  }

  .titulo1{
    font-size: 30px;
  }

  .parrafo{
    font-size: 17px;
  }

}

@media screen and (max-width:485px){

  #des{
    height: 40%;
  }
  #mision{
    height: 40%;
  }
  #vision{
    height: 40%;
  }
  .icono{
    display: none;
  }

  .titulo1{
    font-size: 30px;
  }

  .parrafo{
    font-size: 17px;
  }
}

@media screen and (max-width:369px){

  #des{
    height: 35%;
  }
  #mision{
    height: 35%;
  }
  #vision{
    height: 35%;
  }
  .icono{
    display: none;
  }

  .titulo1{
    font-size: 20px;
  }

  .parrafo{
    font-size: 15px;
  }
}

@media screen and (max-width:281px){

  #des{
    height: 40%;
  }
  #mision{
    height: 40%;
  }
  #vision{
    height: 50%;
  }
  .icono{
    display: none;
  }

  .titulo1{
    font-size: 20px;
  }

  .parrafo{
    font-size: 13px;
  }
}
