*{
	margin: 0;
	padding: 0;
}

img#logi{

	float:left;
	width: 150px;
	height: 50px;
	display: block;
	margin-left: 10px;
	float: center;
	margin-right: 10px;
	-webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}

#header{
	position: fixed;
	z-index:4;
	width: 100%;
	font-family: 'Acme', sans-serif;
	font-size: 25px;
	background-color: #8BC53E;
	z-index: 104;
}

.nav{

	display: table;
	margin: auto;
	font-color:#090935;
	/*margin-top: 15px;*/
	height: 50px;
	-webkit-transition: margin-left .5s;
		z-index: 104;
}

ul , ol{

	list-style: none;
}

.nav li a:hover{
	background-color: #AEE861;
	opacity: 1;
	-webkit-transition: background-color.3s
}

.nav li:hover > ul{

	display: block;
}

.nav > li{

	float: left;
}

.nav li a {
	color: #F3F3F3;
	display: block;
	padding: 0px 20px;
	text-decoration: none;

}

.nav li ul {

	display: none;
	position: absolute;
}

.nav li ul li{

	padding: 5px 15px;
	position: relative;
	background-color: #8BC53E;
}


.nav li ul li a{

 	padding: 0px 15px;
 	font-family: 'Acme', sans-serif;
 	background-color: #8BC53E;
	/*right: -140px;*/
	top:0px;
}
/*Habitación*/
.tit{
	font-family: 'Acme', sans-serif;
	color: #8A0808;
	font-size: 20px;
}
/*Pie de pagina*/
.footer{
   width: 100%;
	 text-align: center;
   background-color: #8BC53E;
	 height:17%;
}

.logi1{
	text-align: center;
	margin-left:45%;
	float: left;
}

.logi2{
  margin-left: 10px;
	float: left;
}

.logi3{
	color: white;
	float: left;
	font-family: 'Lora', serif;
	font-size: 18px;
	background-color:#8BC53E;
	width: 100%;
}

.fuentes{
	color: white;
	margin-right: 20px;
  margin-left: 20px;
}

.boton {
	display: none;
}
/*Responsive*/
@media screen and (max-width:1024px){

	img#logi{
		display: none;
	}

	#header .nav{
		width: 50%;
		height: 100%;
		left: -100%;
		margin: 0;
		position: fixed;
		background-color: #8BC53E;
	}

	.nav{
	display: block;
	}

#header .nav li{
	display:block;
	float: none;
	border-bottom: 1px solid rgba(255,255,225, .3) ;
 }

	#header .nav li ul li{
		display: block;
		border-bottom: 1px solid rgba(255,255,225, .3) ;
	}

	#header .nav li ul li a{
		display: block;

	}

 #header .nav li a{
	 display: block;
 }

 #header .nav li:hover .hijos{
	display: none;
 }

 #header .nav li .hijos{
	 width: 100%;
	 position: relative;
 }

 #header .nav li .hijos li a{
	margin-left: 20px;
 }

	.menu-bar {
		display: block;
		width: 100%;
		background:white;
	}

  .boton{
		display: block;
		padding:10px;
		background: #8BC53E;
		color: White;
		text-decoration: none;
		-webkit-box-sizing:border-box;
		-moz-boz-sizing:border-box;
		box-sizing:border-box;
	}

	.menu-bar span{
		float: right;
		font-size: 30px;
		color: white;
	}

	.fuentes p{
		color: white;
		margin-left: 20px;
	}
}
